<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerOrder">
            <h2><span>Customer Order</span> {{ customerOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ customerOrder.price }}</span>
                </dd>
                <dt><span>Sys Date</span></dt>
                <dd>
                    <span>{{ customerOrder.sysDate }}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="customerOrder.customer">
                        <a [routerLink]="['/customer', customerOrder.customer?.id, 'view']">{{ customerOrder.customer?.id }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="customerOrder.product">
                        <a [routerLink]="['/product', customerOrder.product?.id, 'view']">{{ customerOrder.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
